<footer class="footer container px-0 px-sm-3">
    <div class="full-border-top">
        <div class="container px-3 px-sm-0 text-primary-4 py-20 py-md-5 text-center">
            ©Vivre 2024 All right Reserved
        </div>
    </div>
</footer>