<div class="p-9">
  <div class="tab-content-header">
    <h3>酒精路跑地圖</h3>
    <ul>
      <li><a href="#">｜城市酒吧人氣榜,盤點當紅熱門酒吧</a></li>
      <li><a href="#">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</a></li>
      <li><a href="#">｜台南老宅手工酒藏,尋味百年人文釀意</a></li>
    </ul>
  </div>
  <ul class="tab-content-img-group list-unstyled d-flex justify-content-between px-4" style="gap: 4px;">
    <li><img src="../assets/images/hots-1.png" alt="" class="img-fluid rounded-start-3"></li>
    <li><img src="../assets/images/hots-2.png" alt="" class="img-fluid"></li>
    <li><img src="../assets/images/hots-3.png" alt="" class="img-fluid"></li>
    <li><img src="../assets/images/hots-4.png" alt="" class="img-fluid rounded-end-3"></li>
  </ul>

  <div class="tab-content-footer d-flex justify-content-between">
    <ul class="list-unstyled d-flex" style="gap: 8px;">
      <li><a href="#"><p class="ls ti text-primary-4 d-inline-block px-2 py-1 bg-primary-3 mb-0 rounded-1">#夜貓行程</p></a></li>
      <li><a href="#"><p class="ls ti text-primary-4 d-inline-block px-2 py-1 bg-primary-3 mb-0 rounded-1">#barhopping</p></a></li>
      <li><a href="#"><p class="ls ti text-primary-4 d-inline-block px-2 py-1 bg-primary-3 mb-0 rounded-1">#全台酒吧</p></a></li>
    </ul>
    <a href="#" class="btn eng px-0 py-2 fs-5 text-accent-2 fw-bold ls d-flex justify-content-center align-items-center">View More<i class="bi bi-arrow-right fs-4 ms-3"></i></a>
  </div>
</div>